body {
  background-color: white;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.2em;
}

header, footer {
  background-color: #511730;
  color: white;
  padding: 15px 10px;
  box-shadow: 1px 1px 3px black;
}

header > img {
  width: 59px;
  margin-right: 5px;
  float: left;
}

h1 {
  display: inline;
  font-size: 2.6em;
  text-shadow: 1px 1px 3px black;
  font-family: 'Fjalla One', Arial, Helvetica, sans-serif;
}

h2 {
  margin-left: 40px;
  text-shadow: 1px 1px 3px black;
}

header a {
  margin: 25px 25px 0 0;
  float: right;
  color: white;
  text-shadow: 1px 1px 3px black;
  text-decoration: none;
}

header a:hover {
  cursor: pointer;
  text-decoration: underline;
}

form {
  display: block;
  padding: 15px 10px 20px;
  margin: 15px auto 0;
  width: 25%;
  min-width: 250px;
  background-color: rgb(243, 236, 236);
  border-radius: 10px;
  box-shadow: 0 0 4px black;
}

legend {
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 5px lightgrey;
}

label {
  display: block;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 5px;
}

input {
  width: 80%;
  max-width: 200px;
  height: 23px;
  display: block;
  margin: 5px auto;
  padding-left: 5px;
  border-radius: 5px;
  border: .5px solid black;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

input[type=submit] {
  width: 80%;
  max-width: 210px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 3px grey;
  background-color: #511730;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px black;
  margin-top: 15px;
  height: 30px;
}

input[type=submit]:hover {
  cursor: pointer;
  box-shadow: 3px 3px 3px grey;
}

input[type=submit]:active {
  box-shadow: 1px 1px 3px grey;
}

table {
  border-collapse: collapse;
  background-color: white;
  margin: 20px auto;
  width: 95%;
  box-shadow: 0 0 1px black;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
}

tr:nth-child(odd) {
  background-color: rgb(253, 203, 203);
}

th, td {
  padding: 3px;
  font-weight: bold;
}

th {
  background-color: black;
  color: white;
}

header + section {
  height: 426px;
  margin: 10px auto 0;
  background: url(../img/banner.jpeg) no-repeat top center;
  /* padding-top: 140px; */
}

header + section > h2 {
  width: 80%;
  padding: 25px 0;
  background-color: rgba(255, 255, 255, .8);
  text-align: center;
  color: #97506f;
  text-shadow: 1px 1px 1px black;
  font-family: 'Fjalla One', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 3.7em;
  margin: 140px auto 0;
  border-radius: 10px;
}

section {
  max-width: 960px;
  border: 1px solid white;
  margin: 0 auto;
  clear: both;
}

section > div {
  width: 320px;
  float: left;
  margin-top: 25px;
}

section > div > img {
  max-width: 250px;
  display: block;
  margin: 0 auto;
  border: 1.5px solid black;
}

section > div > img + p, section:nth-child(4) img + p, section:nth-child(5) img + p, section:nth-child(6) img + p {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #97506f;
  text-shadow: 1px 1px 1px black;
}

section > div > p {
  max-width: 250px;
  margin: 15px auto;
}

section:nth-child(4) {
  margin-top: 50px;
  overflow: auto;
}

section > img {
  max-width: 960;
  display: block;
  margin: 25px auto;
}

section:nth-child(4) > img + p + p {
  max-width: 852px;
  margin: 15px auto;
}

section:nth-child(5), section:nth-child(6) {
  margin: 50px auto;
  overflow: auto;
}

section:nth-child(5) > img, section:nth-child(6) > img {
  margin: 0 25px 0 50px;
  float: left;
}

section:nth-child(5) > img + p + p, section:nth-child(6) > img + p + p {
  margin-top: 15px;
}

footer {
  text-align: center;
  font-size: .8em;
  clear: left;
  height: 50px;
}

footer p {
  margin-bottom: 5px;
}